.sidebar {
    position: fixed;
    left: 20px;
    margin-top: 30px; /* Incrementa este valor para aumentar la separación desde la parte superior */
    bottom: 40px;
    background-color: #000000;
    border-radius: 50px;
    padding: 20px;
    height: 85%;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para separar los elementos */
}


.imagen_logo {
    border-radius: 5px;
    object-fit: contain;
    position: relative;
    width: 40px;
    height: 50px;
    right: 10px; /* Ajusta la posición hacia la derecha */
}

.estadistica_imagen {
    border-radius: 5px;
    object-fit: contain;
    position: relative;
    width: 40px;
    height: 50px;
    right: 10px; /* Ajusta la posición hacia la derecha */
    top: 10px;
}

.flechita_imagen {
    border-radius: 5px;
    object-fit: contain;
    position: relative;
    width: 40px;
    height: 50px;
    right: 10px; /* Ajusta la posición hacia la derecha */
    top: 10px;
}

.imagen_pefilVacio {
    border-radius: 5px;
    object-fit: contain;
    position: relative;
    bottom: 0; /* Abajo */
    width: 40px;
    height: 40px;
    right: 10px; /* Ajusta la posición hacia la derecha */
}

  
.button_comenzar {
    text-align: center;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 20px;
    width: 60px;
    height: 84px;
    display: block; 
    margin: 0 auto; /* El botón se centra horizontalmente */
    position: fixed; /* El botón se posiciona en relación a su contenedor */
    bottom: 20px; /* El botón se mueve 20 píxeles hacia abajo */
    position: fixed; /* Posicionamiento fijo */
    bottom: 40px; /* Distancia desde el borde inferior */
    left: 50%; /* Alinea el botón en el centro horizontal */
    transform: translateX(-50%);
}

/* Estilos para el enlace botón */
.button_comenzar a {
    display: inline-block;
    transform: translateX(-50%);
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7); /* Color de fondo blanco con opacidad del 70% */
    color: #1A41A5; /* Color del texto */
    padding: 20px 70px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-family: 'DM Sans', sans-serif;
    border: 2px solid #1A41A5;    
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar */
    width: 200px;
  }

  /* Estilos para el enlace botón al pasar el cursor */
  .button_comenzar a:hover {
    background-color: #1A41A5; /* Cambia el color de fondo al pasar el cursor */
  }

  .button_grabar a {
    display: inline-block;
    transform: translateX(-50%);
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7); /* Color de fondo blanco con opacidad del 70% */
    color: #1A41A5; /* Color del texto */
    padding: 20px 70px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-family: 'DM Sans', sans-serif;
    border: 2px solid #1A41A5;    
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar */
    width: 200px;
}

/* Estilos para el enlace botón al pasar el cursor */
.button_grabar a:hover {
    background-color: #1A41A5; /* Cambia el color de fondo al pasar el cursor */
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    position: relative;
    top: 1px;
    left: 800px;
    right: 100px;
    position: fixed;

    
}

body {
    background-image: url('/Cosas/Fondo_Navegacion.png');
    background-size: 100px; /* Establece un tamaño específico para la imagen */
    background-position: center; /* Centra la imagen en el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    height: 70vh; /* Ajusta la altura al 100% del viewport */
    display: flex; /* Utiliza Flexbox para centrar verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 20px auto 0; /* Margen superior de 20px y centrado horizontal */
}

.background-container {
    width: 60%; /* Ancho deseado del contenedor de fondo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-image: url('Cosas/Fondo_Navegacion.png'); /* Ruta de la imagen */
    background-size: contain; /* Ajusta la imagen para que quepa dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    height: 100vh; /* Establece la altura al 100% del viewport */
    margin-top: 20px; /* Agrega un margen superior de 20px */
}